.board-row-top {
  border-top: 1px solid #ccc;
}

.board-row-bottom {
  border-bottom: 1px solid #ccc;
}

.piece-row {
  text-align: center;
}

.piece {
  display: inline-block;
  margin: 5px;
}

.top-row {
  padding-bottom: 4px;
}

.button-row {
  padding-top: 4px;
}

.button-row button {
  margin: 0px 4px;
}

.player-name {
  display: inline-block;
  margin: 0px 5px;
}

#your-turn-banner {
  position: fixed;
  left: 0px;
  top: 30%;
  width: 100%;
  height: 4.5rem;
  z-index: 1;
  color: #666;
  background: rgba(87, 164, 255, 0.5);
  opacity: 1;
}
