.board-row-top {
  border-top: 1px solid #ccc;
}

.board-row-bottom {
  border-bottom: 1px solid #ccc;
}

.piece-row {
  text-align: center;
}

.piece {
  display: inline-block;
  margin: 5px;
}

.top-row {
  padding-bottom: 4px;
}

.button-row {
  padding-top: 4px;
}
.button-row button {
  margin: 0px 4px;
}

.player-name {
  display: inline-block;
  margin: 0px 5px;
}
