<ng-template #playerName let-side="side">
  <div class="text-center">
    <div
      class="gear-container"
      *ngIf="game.players[playerIdx(side)] === currentPlayer()"
    >
      <div class="gear gear1"></div>
      <div class="gear gear2"></div>
    </div>
    <div class="player-name">
      <span>
        {{ game.players[playerIdx(side)] }}
      </span>
    </div>
    <div
      class="gear-container"
      *ngIf="game.players[playerIdx(side)] === currentPlayer()"
    >
      <!-- a placeholder for centering the text   -->
    </div>
  </div>
</ng-template>

<ng-template #scorePopContent
  ><table class="table table-sm">
    <ng-template #noScores
      ><tr>
        <td>-</td>
        <td>-</td>
      </tr></ng-template
    >
    <thead>
      <tr>
        <th scope="col">{{ game.players[0] }} & {{ game.players[2] }}</th>
        <th scope="col">{{ game.players[1] }} & {{ game.players[3] }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="game.scoreLog.length > 0; else noScores">
        <tr *ngFor="let score of game.scoreLog">
          <td>{{ score[0] }}</td>
          <td>{{ score[1] }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table></ng-template
>
<ng-template #scorePopTitle>Game Score</ng-template>

<audio #audio1>
  <source src="assets/sounds/DRUMAY.WAV" type="audio/wav" />
</audio>

<div @yourTurnOverlayTrigger *ngIf="yourTurnOverlayShown" id="your-turn-banner">
  <h1 class="display-4 text-center">Your turn!</h1>
</div>

<div *ngIf="game">
  <div class="row top-row">
    <div class="col-2 text-center">
      <span class="align-middle">Welcome, {{ player() }}!</span>
    </div>
    <div class="col-8 text-center">
      <span class="align-middle"
        ><em>{{ status() }}</em></span
      >
    </div>
    <div class="col-2 text-center">
      <button
        *ngIf="score() as s"
        type="button"
        class="btn btn-outline-secondary"
        [ngbPopover]="scorePopContent"
        [popoverTitle]="scorePopTitle"
        [autoClose]="'outside'"
        placement="bottom"
      >
        score: {{ s[0] }} | {{ s[1] }}
      </button>
    </div>
  </div>

  <!-- Top player -->
  <div class="row board-row-top">
    <div class="col"></div>
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <ng-container
            *ngTemplateOutlet="playerName; context: { side: 'north' }"
          ></ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12 piece-row">
          <div *ngFor="let piece of hand('north')" class="piece">
            <app-piece
              [value]="piece"
              [orientation]="'vertical'"
              [style]="style"
            ></app-piece>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <!-- Center -->
  <div class="row">
    <!-- Left player -->
    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <ng-container
            *ngTemplateOutlet="playerName; context: { side: 'west' }"
          ></ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12 piece-row">
          <div *ngFor="let piece of hand('west')" class="piece">
            <app-piece
              [value]="piece"
              [orientation]="'horizontal'"
              [style]="style"
            ></app-piece>
          </div>
        </div>
      </div>
    </div>
    <!-- Board -->
    <div class="col-8" id="board">
      <app-board
        [game]="game"
        [showHint]="
          whereCanSelectedBePlayed() === PiecePlayOption.LEFT_AND_RIGHT
        "
        [style]="style"
      ></app-board>
    </div>
    <!-- Right player -->
    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <ng-container
            *ngTemplateOutlet="playerName; context: { side: 'east' }"
          ></ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12 piece-row">
          <div *ngFor="let piece of hand('east')" class="piece">
            <app-piece
              [value]="piece"
              [orientation]="'horizontal'"
              [style]="style"
            ></app-piece>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom player -->
  <div class="row board-row-bottom">
    <div class="col"></div>
    <div class="col-8">
      <div class="row">
        <div class="col-12 piece-row">
          <div *ngFor="let piece of hand('south')" class="piece">
            <app-piece
              [value]="piece"
              [orientation]="'vertical'"
              [disabled]="isDisabled(piece)"
              [playable]="isPlayable(piece)"
              [selected]="isSelected(piece)"
              [style]="style"
              (selectionChanged)="onPieceSelectionChanged($event)"
            ></app-piece>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ng-container
            *ngTemplateOutlet="playerName; context: { side: 'south' }"
          ></ng-container>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row button-row">
    <div class="col-4">
      <app-end-game (endGame)="onEndGame($event)"></app-end-game>
      <button
        *ngIf="isSignedIn()"
        type="button"
        class="btn btn-secondary"
        (click)="logout()"
      >
        Log out
      </button>
    </div>
    <div class="col-4 text-center">
      <ng-container
        *ngIf="isSignedIn()"
        [ngSwitch]="whereCanSelectedBePlayed()"
      >
        <button
          *ngSwitchCase="PiecePlayOption.NEXT_ROUND"
          type="button"
          class="btn btn-success"
          (click)="play('next-round')"
        >
          Next round
        </button>
        <button
          *ngSwitchCase="PiecePlayOption.START"
          type="button"
          class="btn btn-success"
          (click)="play('start')"
        >
          Play
        </button>
        <button
          *ngSwitchCase="PiecePlayOption.LEFT"
          type="button"
          class="btn btn-success"
          (click)="play('left')"
        >
          Play
        </button>
        <button
          *ngSwitchCase="PiecePlayOption.RIGHT"
          type="button"
          class="btn btn-success"
          (click)="play('right')"
        >
          Play
        </button>
        <button
          *ngSwitchCase="PiecePlayOption.LEFT_AND_RIGHT"
          type="button"
          class="btn btn-success"
          style="margin-right: 20px;"
          (click)="play('left')"
        >
          Play left
        </button>
        <button
          *ngSwitchCase="PiecePlayOption.LEFT_AND_RIGHT"
          type="button"
          class="btn btn-success"
          style="margin-left: 20px;"
          (click)="play('right')"
        >
          Play right
        </button>
        <button
          *ngSwitchCase="PiecePlayOption.PASS"
          type="button"
          class="btn btn-success"
          (click)="play('pass')"
        >
          Pass
        </button>
        <button *ngSwitchDefault type="button" class="btn btn-success" disabled>
          Play
        </button>
      </ng-container>
    </div>
    <div class="col-4 text-right">
      <div ngbDropdown placement="top-right" class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="stylesDropdown"
          ngbDropdownToggle
        >
          Style: {{ style }}
        </button>
        <div ngbDropdownMenu aria-labelledby="stylesDropdown">
          <button
            ngbDropdownItem
            *ngFor="let style of getStyles()"
            (click)="setStyle(style)"
          >
            {{ style }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
