<div *ngIf="game">
  <p>welcome, {{ player() }}!</p>

  <!-- Top player -->
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            <span
              *ngIf="game.players[playerIdx('north')] as p"
              [ngClass]="{ 'badge badge-success': p === currentPlayer() }"
              >{{ p }}</span
            >
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 piece-row">
          <div *ngFor="let piece of hand('north')" class="piece">
            <app-piece [value]="piece" [orientation]="'vertical'"></app-piece>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <!-- Center -->
  <div class="row">
    <!-- Left player -->
    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            <span
              *ngIf="game.players[playerIdx('west')] as p"
              [ngClass]="{ 'badge badge-success': p === currentPlayer() }"
              >{{ p }}</span
            >
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 piece-row">
          <div *ngFor="let piece of hand('west')" class="piece">
            <app-piece [value]="piece" [orientation]="'horizontal'"></app-piece>
          </div>
        </div>
      </div>
    </div>
    <!-- Board -->
    <div class="col-8" style="background-color: #dddddd;">
      <p class="text-center">board will go here</p>
    </div>
    <!-- Right player -->
    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            <span
              *ngIf="game.players[playerIdx('east')] as p"
              [ngClass]="{ 'badge badge-success': p === currentPlayer() }"
              >{{ p }}</span
            >
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 piece-row">
          <div *ngFor="let piece of hand('east')" class="piece">
            <app-piece [value]="piece" [orientation]="'horizontal'"></app-piece>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom player -->
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <div class="row">
        <div class="col-12 piece-row">
          <div *ngFor="let piece of hand('south')" class="piece">
            <app-piece
              [value]="piece"
              [orientation]="'vertical'"
              [disabled]="isDisabled(piece)"
              [playable]="isPlayable(piece)"
              [selected]="isSelected(piece)"
              (selectionChanged)="onPieceSelectionChanged($event)"
            ></app-piece>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            <span
              *ngIf="game.players[playerIdx('south')] as p"
              [ngClass]="{ 'badge badge-success': p === currentPlayer() }"
              >{{ p }}</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row button-row">
    <div class="col-4">
      <app-end-game (endGame)="onEndGame($event)"></app-end-game>
      <button
        *ngIf="isSignedIn()"
        type="button"
        class="btn btn-secondary"
        (click)="logout()"
      >
        Log out
      </button>
    </div>
    <div class="col-4 text-center">
      <ng-container
        *ngIf="isSignedIn()"
        [ngSwitch]="whereCanSelectedBePlayed()"
      >
        <button
          *ngSwitchCase="PiecePlayOption.START"
          type="button"
          class="btn btn-success"
          (click)="play('start')"
        >
          Play
        </button>
        <button
          *ngSwitchCase="PiecePlayOption.LEFT"
          type="button"
          class="btn btn-success"
          (click)="play('left')"
        >
          Play
        </button>
        <button
          *ngSwitchCase="PiecePlayOption.RIGHT"
          type="button"
          class="btn btn-success"
          (click)="play('right')"
        >
          Play
        </button>
        <button
          *ngSwitchCase="PiecePlayOption.LEFT_AND_RIGHT"
          type="button"
          class="btn btn-success"
          (click)="play('left')"
        >
          Play left
        </button>
        <button
          *ngSwitchCase="PiecePlayOption.LEFT_AND_RIGHT"
          type="button"
          class="btn btn-success"
          (click)="play('right')"
        >
          Play right
        </button>
        <button
          *ngSwitchCase="PiecePlayOption.PASS"
          type="button"
          class="btn btn-success"
          (click)="play('pass')"
        >
          Pass
        </button>
        <button *ngSwitchDefault type="button" class="btn btn-success" disabled>
          Play
        </button>
      </ng-container>
    </div>
  </div>
</div>
