<p>
  Provide player names to start a game. The players will play in the order they
  were defined:
</p>
<ul>
  <li>Team A: players 1 and 3</li>
  <li>Team B: players 2 and 4</li>
</ul>

<div *ngIf="status$ | async as status" class="alert alert-danger" role="alert">
  {{ status }}
</div>

<form>
  <div class="form-group">
    <label for="player1">Player 1</label>
    <input
      type="text"
      class="form-control"
      id="input1"
      placeholder="Team A"
      #player1
    />
  </div>
  <div class="form-group">
    <label for="player2">Player 2</label>
    <input
      type="text"
      class="form-control"
      id="input2"
      placeholder="Team B"
      #player2
    />
  </div>
  <div class="form-group">
    <label for="player3">Player 3</label>
    <input
      type="text"
      class="form-control"
      id="input3"
      placeholder="Team A"
      #player3
    />
  </div>
  <div class="form-group">
    <label for="player4">Player 4</label>
    <input
      type="text"
      class="form-control"
      id="input4"
      placeholder="Team B"
      #player4
    />
  </div>
  <div class="form-group">
    <!-- (click) passes input value to add() and then clears the input -->
    <input
      class="btn btn-primary"
      (click)="
        createTeam([player1.value, player2.value, player3.value, player4.value])
      "
      type="button"
      value="Create the game"
    />
  </div>
</form>
