<div class="container">
  <div class="row">
    <div class="col">
      <img src="assets/img/logo.png" class="logo" />
      <h1 class="title"><a href="/">Domino</a></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Content here -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="logo-attribution">
        Logo made by
        <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx"
          >xnimrodx</a
        >
        from
        <a href="https://www.flaticon.com/" title="Flaticon">
          www.flaticon.com</a
        >
      </p>
    </div>
  </div>
</div>
