.logo {
  height: 2.2rem;
  width: auto;
  float: left;
  margin: 10px;
}

.title a {
  color: #57a4ff;
}

.logo-attribution {
  margin-top: 20px;
  color: #ddd;
  font-size: x-small;
  float: right;
  a {
    color: #dae3ed;
  }
}
