<div #board style="width: 100%;">
  <div *ngIf="game" class="board" [style.height.px]="heightUp + heightDown">
    <app-piece
      *ngFor="let piece of game.table; let i = index"
      class="piece"
      [style.left.px]="width / 2 + piecePositions[i].coords.x"
      [style.top.px]="heightUp - piecePositions[i].coords.y"
      [orientation]="piecePositions[i].orientation"
      [value]="piecePositions[i].piece"
      [style]="style"
    ></app-piece>
    <div
      *ngIf="leftHintPosition && showHint"
      class="hint"
      [style.left.px]="width / 2 + leftHintPosition.x"
      [style.top.px]="heightUp - leftHintPosition.y"
    >
      left
    </div>
    <div
      *ngIf="rightHintPosition && showHint"
      class="hint"
      [style.left.px]="width / 2 + rightHintPosition.x"
      [style.top.px]="heightUp - rightHintPosition.y"
    >
      right
    </div>
  </div>
</div>
