.dot-small {
  --level1: 6px;
  --level2: 15px;
  --level3: 24px;
  --dot-size: 6px;
}

.dot-large {
  --level1: 4px;
  --level2: 14px;
  --level3: 24px;
  --dot-size: 8px;
}

* {
  box-sizing: border-box;
}

.piece {
  position: relative;
  background: blue;
  color: white;
}

.piece.vertical {
  width: 40px;
  height: 80px;
  border: 2px solid #222222;
  border-radius: 5px;
  background: #eee;
  color: #222222;
}

.piece.horizontal {
  width: 80px;
  height: 40px;
}

.dot {
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  background-color: black;
  border-radius: 50%;
}

.dot-container {
  position: relative;
  float: left;
  width: 36px;
  height: 36px;
  margin: auto;
}

.piece.vertical .divider-top {
  float: left;
  width: 30px;
  height: 2px;
  margin: 0px 3px;
  border-bottom: 1px solid #222222;
}

.piece.vertical .divider-bottom {
  float: left;
  width: 30px;
  height: 2px;
  margin: 0px 3px;
  border-top: 1px solid #222222;
}

.piece .dot-container-1 .dot:nth-child(1) {
  left: var(--level2);
  top: var(--level2);
}

.piece.vertical .dot-container-2 .dot:nth-child(1) {
  left: var(--level3);
  top: var(--level1);
}
.piece.horizontal .dot-container-2 .dot:nth-child(1) {
  left: var(--level1);
  top: var(--level1);
}
.piece.vertical .dot-container-2 .dot:nth-child(2) {
  left: var(--level1);
  top: var(--level3);
}
.piece.horizontal .dot-container-2 .dot:nth-child(2) {
  left: var(--level3);
  top: var(--level3);
}

.piece.vertical .dot-container-3 .dot:nth-child(1) {
  left: var(--level3);
  top: var(--level1);
}
.piece.horizontal .dot-container-3 .dot:nth-child(1) {
  left: var(--level1);
  top: var(--level1);
}
.piece .dot-container-3 .dot:nth-child(2) {
  left: var(--level2);
  top: var(--level2);
}
.piece.vertical .dot-container-3 .dot:nth-child(3) {
  left: var(--level1);
  top: var(--level3);
}
.piece.horizontal .dot-container-3 .dot:nth-child(3) {
  left: var(--level3);
  top: var(--level3);
}

.piece .dot-container-4 .dot:nth-child(1) {
  left: var(--level1);
  top: var(--level1);
}
.piece .dot-container-4 .dot:nth-child(2) {
  left: var(--level3);
  top: var(--level1);
}
.piece .dot-container-4 .dot:nth-child(3) {
  left: var(--level1);
  top: var(--level3);
}
.piece .dot-container-4 .dot:nth-child(4) {
  left: var(--level3);
  top: var(--level3);
}

.piece .dot-container-5 .dot:nth-child(1) {
  left: var(--level1);
  top: var(--level1);
}
.piece .dot-container-5 .dot:nth-child(2) {
  left: var(--level3);
  top: var(--level1);
}
.piece .dot-container-5 .dot:nth-child(3) {
  left: var(--level1);
  top: var(--level3);
}
.piece .dot-container-5 .dot:nth-child(4) {
  left: var(--level3);
  top: var(--level3);
}
.piece .dot-container-5 .dot:nth-child(5) {
  left: var(--level2);
  top: var(--level2);
}

.piece .dot-container-6 .dot:nth-child(1) {
  left: var(--level1);
  top: var(--level1);
}
.piece.vertical .dot-container-6 .dot:nth-child(2) {
  left: var(--level1);
  top: var(--level2);
}
.piece.horizontal .dot-container-6 .dot:nth-child(2) {
  left: var(--level2);
  top: var(--level1);
}
.piece .dot-container-6 .dot:nth-child(3) {
  left: var(--level1);
  top: var(--level3);
}
.piece .dot-container-6 .dot:nth-child(4) {
  left: var(--level3);
  top: var(--level1);
}
.piece.vertical .dot-container-6 .dot:nth-child(5) {
  left: var(--level3);
  top: var(--level2);
}
.piece.horizontal .dot-container-6 .dot:nth-child(5) {
  left: var(--level2);
  top: var(--level3);
}
.piece .dot-container-6 .dot:nth-child(6) {
  left: var(--level3);
  top: var(--level3);
}

.piece.disabled {
  opacity: 40%;
}

.piece.playable {
  cursor: pointer;
}

.piece.selected {
  box-shadow: 6px 6px 3px grey;
  top: -3px;
  left: -3px;
}
