.dot-small {
  --level1: 6px;
  --level2: 15px;
  --level3: 24px;
  --dot-size: 6px;
}

.dot-large {
  --level1: 4px;
  --level2: 14px;
  --level3: 24px;
  --dot-size: 8px;
}

* {
  box-sizing: border-box;
}

.piece {
  position: relative;
  border: 2px solid var(--outline-color, #222222);
  border-radius: 5px;
  background: var(--fill-color, #eee);

  .dot-container-1 {
    .dot {
      background-color: var(--dot-1-color, var(--dot-color, #222222));
    }
    .dot:nth-child(1) {
      left: var(--level2);
      top: var(--level2);
    }
  }

  .dot-container-2 .dot {
    background-color: var(--dot-2-color, var(--dot-color, #222222));
  }

  .dot-container-3 .dot {
    background-color: var(--dot-3-color, var(--dot-color, #222222));
  }

  .dot-container-4 {
    .dot {
      background-color: var(--dot-4-color, var(--dot-color, #222222));
    }
    .dot:nth-child(1) {
      left: var(--level1);
      top: var(--level1);
    }
    .dot:nth-child(2) {
      left: var(--level3);
      top: var(--level1);
    }
    .dot:nth-child(3) {
      left: var(--level1);
      top: var(--level3);
    }
    .dot:nth-child(4) {
      left: var(--level3);
      top: var(--level3);
    }
  }
  .dot-container-5 {
    .dot {
      background-color: var(--dot-5-color, var(--dot-color, #222222));
    }
    .dot:nth-child(1) {
      left: var(--level1);
      top: var(--level1);
    }
    .dot:nth-child(2) {
      left: var(--level3);
      top: var(--level1);
    }
    .dot:nth-child(3) {
      left: var(--level1);
      top: var(--level3);
    }
    .dot:nth-child(4) {
      left: var(--level3);
      top: var(--level3);
    }
    .dot:nth-child(5) {
      left: var(--level2);
      top: var(--level2);
    }
  }

  .dot-container-6 .dot {
    background-color: var(--dot-6-color, var(--dot-color, #222222));
  }
}

.piece.vertical {
  width: 40px;
  height: 80px;

  .divider-first {
    float: left;
    width: 30px;
    height: 2px;
    margin: 0px 3px;
    border-bottom: 1px solid var(--divider-color, #222222);
  }

  .divider-second {
    float: left;
    width: 30px;
    height: 2px;
    margin: 0px 3px;
    border-top: 1px solid var(--divider-color, #222222);
  }

  .dot-container-2 {
    .dot:nth-child(1) {
      left: var(--level3);
      top: var(--level1);
    }
    .dot:nth-child(2) {
      left: var(--level1);
      top: var(--level3);
    }
  }
  .dot-container-3 {
    .dot:nth-child(1) {
      left: var(--level3);
      top: var(--level1);
    }
    .dot:nth-child(2) {
      left: var(--level2);
      top: var(--level2);
    }
    .dot:nth-child(3) {
      left: var(--level1);
      top: var(--level3);
    }
  }
  .dot-container-6 {
    .dot:nth-child(1) {
      left: var(--level1);
      top: var(--level1);
    }
    .dot:nth-child(2) {
      left: var(--level1);
      top: var(--level2);
    }
    .dot:nth-child(3) {
      left: var(--level1);
      top: var(--level3);
    }
    .dot:nth-child(4) {
      left: var(--level3);
      top: var(--level1);
    }
    .dot:nth-child(5) {
      left: var(--level3);
      top: var(--level2);
    }
    .dot:nth-child(6) {
      left: var(--level3);
      top: var(--level3);
    }
  }
}

.piece.horizontal {
  width: 80px;
  height: 40px;

  .divider-first {
    float: left;
    width: 2px;
    height: 30px;
    margin: 3px 0px;
    border-right: 1px solid var(--divider-color, #222222);
  }

  .divider-second {
    float: left;
    width: 2px;
    height: 30px;
    margin: 3px 0px;
    border-left: 1px solid var(--divider-color, #222222);
  }

  .dot-container-2 {
    .dot:nth-child(1) {
      left: var(--level1);
      top: var(--level1);
    }
    .dot:nth-child(2) {
      left: var(--level3);
      top: var(--level3);
    }
  }
  .dot-container-3 {
    .dot:nth-child(1) {
      left: var(--level1);
      top: var(--level1);
    }
    .dot:nth-child(2) {
      left: var(--level2);
      top: var(--level2);
    }
    .dot:nth-child(3) {
      left: var(--level3);
      top: var(--level3);
    }
  }
  .dot-container-6 {
    .dot:nth-child(1) {
      left: var(--level1);
      top: var(--level1);
    }
    .dot:nth-child(2) {
      left: var(--level2);
      top: var(--level1);
    }
    .dot:nth-child(3) {
      left: var(--level1);
      top: var(--level3);
    }
    .dot:nth-child(4) {
      left: var(--level3);
      top: var(--level1);
    }
    .dot:nth-child(5) {
      left: var(--level2);
      top: var(--level3);
    }
    .dot:nth-child(6) {
      left: var(--level3);
      top: var(--level3);
    }
  }
}

.dot {
  position: absolute;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
}

.dot-container {
  position: relative;
  float: left;
  width: 36px;
  height: 36px;
  margin: auto;
}

.piece.disabled {
  opacity: 0.4;
}

.piece.playable {
  cursor: pointer;
}

.piece.selected {
  box-shadow: 6px 6px 3px grey;
  top: -3px;
  left: -3px;
}
