.style-classic {
  --outline-color: #222222;
  --fill-color: #eee;
  --divider-color: #222222;
  --dot-color: #222222;
}

.style-oreo {
  --outline-color: #2b1d0e;
  --fill-color: #2b1d0e;
  --divider-color: #eee;
  --dot-color: #eee;
}

.style-azul {
  --outline-color: #4da6ff;
  --fill-color: #3399ff;
  --divider-color: #eee;
  --dot-color: #eee;
}

.style-rainbow {
  --outline-color: #222222;
  --fill-color: #f4f4f4;
  --divider-color: #222222;
  --dot-1-color: #600080;
  --dot-2-color: #ff748c;
  --dot-3-color: #db4437;
  --dot-4-color: #f4b400;
  --dot-5-color: #0f9d58;
  --dot-6-color: #4285f4;
}
